<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>FreshEarth Update</title>
    </head>
    <body style="background-color: #e9e9e9; font-family:'Helvetica', 'Arial', sans-serif; padding:0px; min-width: 100%; padding-bottom: 16px;">
        <div style="width: 100%; background-color:rgb(76,175,80); display:inline-block; height: 68px;">
            <table style="margin: 0px auto; width: 100%; max-width: 600px; position:relative;">
                <tr>
                    <td valign="middle" align="left">
                        <a target="_blank" href="https://freshearth.io/" style="text-decoration:none; display:inline-block;">
                            <h1 style="color: white; font-family:monospace, sans-serif; font-size:28px; line-height:22px; padding: 12px 0px; margin:0px;">FRESH<br/>EARTH</h1>
                        </a>
                    </td>
                    <td valign="middle" align="right">
                        <a target="_blank" href="https://app.freshearth.io" style="text-align:center; width: 120px; color: white; font-weight: 600; margin:0px; text-decoration:none; background-color:rgb(255,145,0); padding:12px; border-radius:5px;">
                            VISIT THE APP
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin: 0px auto; margin-top:12px; padding:10px; max-width: 580px; background-color:white; border-radius:5px;">
            <h2 style="margin: 12px 0px; font-weight: 300; font-size:32px; line-height:42px;">{{heading}}</h2>
            <p style="margin: 15px 0px;">{{message}}</p>
            <div style="width: 100%; border-top:solid #e9e9e9 1px; height:1px; margin-bottom:12px;"></div>
            {{items}}
            <a target="_blank" href="{{link}}" style="display: block; text-align:center; width: 150px; color: white; font-weight: 600; margin:0 auto; text-decoration:none; background-color:rgb(255,145,0); padding:12px; border-radius:5px;">
                {{action}}
            </a>
        </div>
    </body>
</html>